body{
  background-image: url("background.jpg");
  margin: 0;
  padding: 0;
  
  }
  
  header{
  overflow: hidden;
  background-image: url("../photoshopcafe.com/wp-content/uploads/2011/05/Screen-Shot-2014-08-03-at-12.32.16-PM.png"); 
  }
  
  
  #header-img{
    height: 50px;
    width: 50px;
  }
  
  
  .nav-link{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Ranchers', cursive;
  }
  
  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  .heading{
    font-family: 'Ranchers', cursive;
    color: #FFD400;
    font-size: 50px;
  }
  
  .thankYou{
    font-family: 'Ranchers';
    color: #FB8500;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
  }
  
  h2{
    font-family: 'Ranchers', cursive;
    color: #FFD400;
  }
  
  footer{
  background-image: url("lines.png"); 
  position: fixed;
  bottom: 0;
  padding-bottom: 1.5rem;
  width: 100%;
  height: 2.5rem;  
  font-size: 40px;
  font-family: 'Ranchers', cursive;
  text-align: center;
  }
  
  #image1{
    height: 300px;
    width: 250px;
    object-fit: cover;
    background: #a989dd;
    border: solid blueviolet;
    border-radius:4px;
    padding:4px;
  }
  
  #image2{
    height: 300px;
    width: 250px;
    object-fit: cover;
    background: #a989dd;
    border: solid blueviolet;
    border-radius:4px;
    padding:4px;
  }
  
  #image3{
    height: 300px;
    width: 250px;
    object-fit: cover;
    background: #a989dd;
    border: solid blueviolet;
    border-radius:4px;
    padding:4px;
  }
  
  #image4{
    height: 300px;
    width: 250px;
    object-fit: cover;
    background: #a989dd;
    border: solid blueviolet;
    border-radius:4px;
    padding:4px;
  }
  
  h2{
    display: inline;
    /* text-align: center; */
    font-family: 'Nunito', sans-serif;
    /* padding: 5px; */
  /* margin-left: 50px;
  margin-right: 50px; */
  border-radius: 50px;
  font-style: italic;
  /* display: flex
    justify-content: space-between;
    justify-content: space-around; */
  }
  .container2{
    text-align: center;
  }
  
  .creatorProfile{
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  img{
    height: 200px ;
  }
  
  #notesGif1{
    position: absolute;
    left:8%;
    top: 2%;
  }
  
  #notesGif2{
    position: absolute;
    left:80%;
    top: 75%;
  }
  
  
  
  /* .names{
    margin-left: 40px;
  } */
  
  /* .container1{
    display: flex;
    justify-content: space-between;
    /* width: 1000px; */
    /* padding: 1px;
  } */ 
  
  /* .denise {
    margin-left: 10px;
    margin-right: 100px;
  }
  
  .ash{
    margin-right: 70px;
    margin-left: 210px;
  }
  
  .miriam {
    margin-left: 30px;
    margin-right: 105px;
  }
  .ariana{
    margin-right: 265px;
  } */