* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background-color: #ade8f4;
  font-family: "Poppins", sans-serif;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 40px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: aliceblue;
  text-decoration: none;
}
section {
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(4, 8rem);
  perspective: 800px;
  grid-gap: 2rem;
}
.game {
  padding-top: 2rem;
}

.card {
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.back {
  background-color: white;
  backface-visibility: hidden;
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.toggleCard {
  transform: rotateY(180deg);
}
