* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  background: url(../Images/Background.png) no-repeat;
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
}
body {
  background: url(../Images/Backgroundmerged.png) no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.options{
 width:13rem;
  background-color: #49654C;
  border-radius: 4rem;
  margin: 1rem;
  cursor: pointer;
}
.question{
  font-size: 23px;
  text-align: left;
  margin-left: 7rem;
  margin-bottom: 2rem;
}
.anxiety{
  font-family: "Raleway", sans-serif !important;
  border-radius: 20rem;
  font-size: medium;
  width:15rem;
  height: 3rem;
  margin-left: 5rem;
  margin-top: 30px;
  color: white;
  border: none;
  background-color:#49654C  ;
  cursor: pointer;
}
.option{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center;
   */
   margin-left: 5rem;
   margin-bottom: 2rem;
}
.options h4{
  color: white;
  background-color: #49654C;
  width: 13rem;
}
.options.active h4{
  color: black;
  background-color: white;
}

h1 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
}
/* prelaoder */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url("../Images/loading.gif") no-repeat center;
  z-index: 99999;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
}
header img {
  margin-top: 1.5rem;
  margin-left: 2rem;
}
header a,
.btn a {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit;
}
header li {
  display: inline-block;
  padding: 0em 0.5em;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: unset;
}
/* Navbar */
.menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 27px;
  height: 18px;
}
.menu .bar {
  height: 3px;
  width: 100%;
  background-color: #253628;
  border-radius: 10px;
}
.navbar {
  background: #49654c;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  height: fit-content;
  width: fit-content;
  padding: 0.6rem 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ebebe9;
  margin-top: 1.5rem;
  margin-right: 4rem;
  justify-content: space-around;
}
.alt {
  background: #ebebe9;
  color: #253628;
  border-radius: 47px;
  margin-left: 7rem;
}
.home {
  margin-top: 0.5rem;
  margin-left: 1.4rem;
}
.items {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  padding: 0px 20px;
}
header li:hover {
  transition: background-color 0.5s ease;
  background-color: #ebebe9;
  color: #253628;
  border-radius: 47px;
}

/* Quiz section */
center {
  margin-top: -3rem;
  width: 100vw;
}

center h1 {
  font-size: 50px;
  font-family: Roboto;
  color: #253628;
  font-style: italic;
  font-weight: bold;
}

center h3 {
  font-family: "Nunito", sans-serif;
  color: #253628;
  padding: 0.7rem;
}
center button {
  padding: 10px;
  margin: 10px;
  width: 227px;
  height: 43px;
  left: 325px;
  top: 294px;
  font-size: 18px;

  background: #c0ceb2;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}
center button:hover {
  background: #93a681;
  transition: background-color 0.2s ease;
}
h4 {
  font-family: "Nunito", sans-serif;
  color: #253628;
  background: #c0ceb2;
  width: 60%;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
}

#showResult {
  padding: 12px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  background: #ffd400;
  border: solid #fb8500;
  font-family: "Nunito", sans-serif;
}
.secondQuestion {
  display: inline;
  visibility: hidden;
}

.Results {
  visibility: hidden;
  background: hidden;
}

.firstQuestion {
  visibility: hidden;
  display: inline;
}
.fillerQuestion {
  display: inline;
}

center img {
  height: 200px;
}

#starGif1 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 8%;
  top: 5%;
  z-index: 8;
}
#starGif2 {
  position: absolute;
  left: 5%;
  top: 55%;
  z-index: 8;
}
#starGif3 {
  position: absolute;
  left: 80%;
  top: 200px;
  z-index: 8;
}
#starGif4 {
  position: absolute;
  left: 83%;
  top: 55%;
  z-index: 8;
}

/* Container */
.container {
  font-size: 1rem;
  background: rgba(192, 206, 178, 1);
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
  padding: 0.6rem;
}

.quote{
  padding: 1rem;
  height: fit-content ;
}

.wid-main {
  width: 70%;

  text-align: center;
  border-radius: 61px;
  font-size: 1.1rem;
  margin-top: 3%;
}
.wid {
  margin-top: 2rem;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 3rem;
}
.wid-info {
  width: 80%;
  margin-top: -4.5rem;
  margin-left: 10%;
}
.container h3,
.desc {
  margin-top: 1rem;
  margin-left: 2rem;
}
.wid-main p {
  padding-top: 0;
  padding: 2rem;
}
div h1 {
  padding: 1.4rem;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
}
.para {
  margin-left: 3rem;
}
.container li {
  margin-left: 4%;
  justify-content: space-around;
  padding: 0.4rem;
}
.container ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.align-cont {
  margin-left: 3em;
  margin-right: 3em;
}
iframe {
  width: 40%;
}
.galler-size {
  width: 30%;
  height: 30%;
}

/* Video gallery  */
.video-recom {
  margin-top: -0.7rem;
  font-weight: bold;
}
.align-gallery {
  margin-top: -2rem;

  margin-left: 2rem;
  padding-bottom: 2rem;
}

html {
  height: 100%;
  width: 100%;
}

.video {
  position: relative;
  padding-top: 4.1%;
  padding-bottom: 51.95%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.video-gallery {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.video-gallery .video {
  animation: 1200ms fadeOut ease;
  animation-fill-mode: both;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 7;
  max-height: 19.5em;
  opacity: 0;
  transition: all 300ms ease;
}
.video-gallery input[type="radio"] {
  font-size: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  width: 0;
}
.video-gallery input {
  grid-column-start: 1;
  grid-row-start: 1;
}
.video-gallery label {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
  grid-column-start: 2;
  margin: 0 !important;
  padding: 1em 0 1em 3em;
  position: relative;
  border-bottom: 1px solid #cccccc;
  transition: linear 0.3s;
  cursor: pointer;
}
.video-gallery label:last-of-type {
  border: 0 none;
}
.video-gallery input[type="radio"]:checked + label {
  color: #e41f35 !important;
}
.video-gallery input[type="radio"]:checked + label:before {
  content: "▶";
  left: 0;
  top: 12px;
  position: absolute;
}

.video-gallery label:hover {
  background-color: #49654c;
  color: #ebebe9;
  border-color: black;
  box-shadow: 10px 5px 5px black;
}
.grid-row {
  display: block;
  position: relative;
  padding: 10px;
}
.grid-row label {
  left: calc(50% + 16px);
  position: relative;
  width: calc(50% - 16px);
}
.grid-row .video {
  padding: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.grid-row:after {
  content: "";
  clear: both;
  display: table;
}

#video-1:checked ~ .video-1,
#video-2:checked ~ .video-2,
#video-3:checked ~ .video-3,
#video-4:checked ~ .video-4,
#video-5:checked ~ .video-5,
#video-6:checked ~ .video-6 {
  animation: 1200ms fadeIn ease;
  animation-fill-mode: both;
  opacity: 1;
  width: 50%;
}

@keyframes fadeOut {
  0% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
  25% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
  49% {
    display: block;
    height: 56vw;
    opacity: 0;
    width: 50%;
  }
  50% {
    display: none;
    height: 0;
    opacity: 0;
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  49% {
    display: none;
    height: 0;
    opacity: 0;
    width: 0;
  }
  50% {
    display: block;
    height: 56vw;
    opacity: 0;
    width: 50%;
  }
  100% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
}
@supports (display: grid) {
  .grid-row {
    align-items: start;
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .grid-row label {
    left: auto;
    width: 100%;
  }
  .grid-row .video {
    position: relative;
    width: 100%;
  }
  @keyframes fadeOut {
    0% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
    25% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
    49% {
      display: block;
      height: 56vw;
      opacity: 0;
      width: 100%;
    }
    50% {
      display: none;
      height: 0;
      opacity: 0;
      width: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      width: 0;
    }
    49% {
      display: none;
      height: 0;
      opacity: 0;
      width: 0;
    }
    50% {
      display: block;
      height: 56vw;
      opacity: 0;
      width: 100%;
    }
    100% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .video-gallery {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .video-gallery label {
    left: auto;
    order: 2;
    width: 100%;
  }
  .video-gallery .video {
    order: 1;
    padding-top: 4.1%;
    position: relative;
    top: auto;
    width: 100%;
  }

  #video-1:checked ~ .video-1,
  #video-2:checked ~ .video-2,
  #video-3:checked ~ .video-3,
  #video-4:checked ~ .video-4,
  #video-5:checked ~ .video-5,
  #video-6:checked ~ .video-6 {
    width: 100%;
  }

  @keyframes fadeOut {
    0% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
    25% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
    49% {
      display: block;
      height: 56vw;
      opacity: 0;
    }
    50% {
      display: none;
      height: 0;
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    49% {
      display: none;
      height: 0;
      opacity: 0;
    }
    50% {
      display: block;
      height: 56vw;
      opacity: 0;
    }
    100% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
  }
}

/*button hover effect*/
.btn {
  background: #49654c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 53px;
  padding: 0.5rem 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin: 2.7rem;
  color: #ebebe9;
}
.responses-btn {
  cursor: pointer;
}
.btn .btn-primary {
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.btn.btn-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn.btn-primary span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn.btn-primary:hover span {
  padding-right: 15px;
}

.btn.btn-primary:hover span:after {
  opacity: 1;
  right: 0;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}
.sticky {
  display: none;
}
.icon {
  color: rgb(15, 15, 15);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 12px;
  top: 10px;
}
.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

.resultbtn{
  background-color: #fbbe28;
  border-radius: 1rem;
}

.Results :hover{
  background-color: #d3a531;
  cursor: pointer;
}

.resultbtn :hover{
  color: white;
}


@media (max-width: 1115px) {
  .navbar {
    background-color: white;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    margin-right: 0;
    z-index: 10000000000000;
  }
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
    z-index: -1;
    color: #000000;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
}
@media (max-width: 1323px) and (min-width: 429px) {
  .main {
    background-size: 100% 100%;
  }
  #joke,
  #quote {
    max-width: 100%;
  }
}

/* media queries */
/* Small devices (tablets, 768px and up) */
@media (max-width: 660px) {
  .main {
    background: url(../Images/Home-Mobile\ view.png) no-repeat;
    background-size: 200% 120vh;
  }
  body {
    background: url(../Images/Home-Mobile\ view.png) no-repeat;
    background-size: 200% 210vh;
  }
  .wid-main {
    width: 80%;
    text-align: center;
    margin-left: 29%;
    margin-top: 3%;
    margin-left: 2.5rem;
  }
  .container p {
    margin: 1.2em;
    font-size: 0.8rem;
  }
  div h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 0;
  }

  header img {
    max-width: 300px;
    width: 75%;
  }
  center {
    margin-top: 1rem;
  }
  iframe {
    margin-top: 1rem;
    width: 60%;
  }
  .wid-main.container.active1 {
    height: 500px;
  }
  .wid {
    width: 88%;
    margin-left: 6%;
  }
  .menu {
    display: flex;
  }
  .video-recom {
    margin-top: 0;
    font-weight: bold;
  }
  .align-gallery {
    margin-top: 0;
    width: 80%;
    margin-left: 0;
    padding-bottom: 0;
    margin-left: 2rem;
  }
  .wid-info {
    margin-top: 2rem;
  }

  #joke,
  #quote {
    max-width: 100%;
    font-size: 16px;
  }
}
/* Large devices (large desktops, 1200px and up) */

/* Get help Headings */
.get-help h3 a {
  text-decoration: none;
  color: #49654c;
}
.get-help a:hover {
  color: white;
}
/* End of Get help Headings */

.footer {
  background-color: #ccdbcf;
  height: 5rem;
  margin-top: 7rem;
  text-align: center;
  padding-top: 2rem;
}

.selected {
  background: #93a681;
  color: #ebebe9;
}

#button_Tips{
  width: 25rem;
  margin: 0 auto;
  min-height: 5rem;
  background: #c0ceb2;
  box-shadow: inset 5px 5px 10px rgb(0 0 0 / 36%), inset 15px 10px 15px #c0ceb2, 5px 5px 10px rgb(0 0 0 / 36%), 5px 5px 10px rgb(0 0 0 / 36%), inset -10px -10px 15px #c0ceb2;
  border-radius: 146px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:#c0ceb2;
}

.gamess {
  display: block;
  margin: 0 auto;
  /* background-color: #253628; */
  width: 60vw;
}
.game-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.game-list--heading {
  font-size: 4rem;
  font-weight: bold;
  color: #49654c;
  margin-bottom: 1rem;
}

.list-card {
  width: 20rem;
  height: 32rem;
  background-color: aquamarine;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.527);
}
.list-card--image {
  height: 40%;
}
.list-card--image img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-card--content {
  padding: 0.5rem 1rem;
  height: 62%;
}

.list-card--text {
  padding-bottom: 0.8rem;
  height: 70%;
}

.list-card--content a {
  color: #fff;
  text-decoration: none;
  background-color: #ffd400;
  padding: 0.5rem 2rem;
  border-radius: 40px;
}

h3 {
  text-align: center;
}

#joke,
#quote {
  width: 39rem;
  margin: 0 auto;
  min-height: 9rem;
  background: #c0ceb2;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.36), inset -5px -5px 10px #ddeccd;
  border-radius: 21px;
   
}

#button_Tips:hover{

/* background: #253628; */
background: #93a681;
color:red;
  
}

.joke-text,
.quote-text {
  font-size: 1.125rem;
  padding: 1rem;
  color: #0b1600;
  font-family: "Shalimar", cursive;
  line-height: 1.2;
}

#joke_btn,
#quote_btn {
  cursor: pointer;
  display: block;
  border: none;
  margin: 10px auto;
  text-align: center;
  font-size: 1rem;
  padding: 10px 10px;
  background: #a9b69c;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.36), inset 5px 5px 10px #ddeccd;
  border-radius: 21px;
}

.joke-heading {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.quote-text--author {
  font-family: "Shalimar", cursive;
}
#joke_btn_copy,
#quote_btn_copy {
  color: #395022;
  border: none;
  padding: 5px;
  background: transparent;
  border-radius: 2px;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.game-header {
  height: 4rem;
  margin: 1rem 0 4rem 0;
  display: flex;
  justify-content: center;
}

.game-header img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .game-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .game-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.back-btn {
  display: block;
  text-align: center;
  padding: 0.6rem 1rem;
  margin: 10px auto;
  text-decoration: none;
  font-size: 18px;
  width: 7rem;
  background: #c0ceb2;
  border: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}
.back-btn a {
  text-decoration: none;
  color: #000000;
}

.hidden {
  display: none;
}
.next-question-btn,
.check-result-btn {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 0.6rem 1rem;
  margin: 16px auto;
  text-decoration: none;
  font-size: 1.4rem;
  background: #49654c;
  /* background-color: #fbbe28; */
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.next-question-btn:hover , 
.check-result-btn:hover {
  background: #668069;
  cursor: pointer;
  color: black;
}

.progress-bar {
  width: 30rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 40px;
  overflow: hidden;
  margin: 1rem auto;
}
.progress-bar-fill {
  width: 100%;
  height: 100%;
  background: #49654c;
  border-radius: 40px;
  transition: width 0.5s ease 0s;
  overflow: hidden;
}

.anxietytest-header {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 1rem auto;
  flex-wrap: wrap;
}
.question {
  font-size: 1.8rem;
  text-align: left;
  flex-grow: 1;
}
.options {
  background-color: #49654c;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 50%;
  margin: 0.4rem auto;
  text-align: center;
  padding: 0.4rem 0;
}
.options:hover{
  background-color: white;
  color: black;
}

.anxiety {
  display: block;
  font-family: "Raleway", sans-serif !important;
  border-radius: 20rem;
  font-size: medium;
  width: 15rem;
  height: 3rem;
  margin: 1.2rem auto;
  color: white;
  border: none;
  background-color: #49654c;
  border-radius: 1rem;
  cursor: pointer;
}

.anxiety :hover{
  color: black;
  cursor: pointer;
}

.option {
  display: flex;
  flex-direction: column;
  margin: 0.3rem auto;
  width: 60vw;
}

.options.active {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .question {
    font-size: 1.4rem;
    line-height: 1.1;
  }
  .options {
    width: 100%;
  }
  .progress-bar {
    height: 10px;
  }
}

.gethelp-btn {
  display: flex;

}
